/* CSS declarations go here */
/* CSS declarations go here */

 
body{
     color:green;
   
}


a:link
{
color:green;
text-decoration:none;
}
a:visited
{
color:green;
text-decoration:none;
}
a:hover
{
color:aqua;
text-decoration:none;
}
a:active
{
color:pink;
text-decoration:none;
}



ul {


   
    list-style-type: none;
    margin: 0;
    padding: 15;
    overflow: hidden;
    background-color: rgb(200,200,200);




}
ul.a {

    list-style-type: disc;
    background-color: white;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(200,200,200);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: green;
    padding: 9px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    color:green;
}

}